.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  padding-bottom: 20px;
}

.form_label {
  margin-bottom: 10px;
  font-weight: 800;
}

.form_input {
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 10px;
  border: 2px #4e598c solid;
}

.form_bottom {
  display: flex;
  align-items: center;
}
